h1 a {
	color: white;
}

h1 a:hover {
	color: white;
	text-decoration: none;
}

h6 {
	font-size: 100%;
}

#visualisation {
	width: 960px;
}

iframe {
	border: none;
	overflow: hidden;
	margin: 0 auto;
	display: block;
}

#tabs {
	margin-top: 30px;
}

#tabs li {
	margin-bottom: -1px;
}

td.align-right, th.align-right  {
	text-align: right;
}

td.align-center, th.align-center  {
	text-align: center;
}

.table td {
	padding: 2px;
}

#overall-stats {
	width: 66%; 
	font-size: 100%;
}

#overall-stats td {
	padding:10px;
}

li {
  line-height: 24px;
}


.chart rect {
  font: 12px sans-serif;
  background-color: #009fee;
  fill: #009fee;
  text-align: right;
  white-space: nowrap;
  overflow: visible;
  padding: 3px;
  margin: 1px;
}

.chart rect:hover {
    fill :#ece7f2;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
 }

.chart {
    height: 500px;
    width: 500px;
    padding-left: 30px;
}

#sigma-container {
    max-width: 670px;
    height: 500px;
    margin: auto;
}
